USE [master]
GO
/****** Object:  Database [gio_swp391]    Script Date: 12/18/2025 4:06:00 PM ******/
CREATE DATABASE [gio_swp391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gio_swp391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gio_swp391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gio_swp391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gio_swp391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gio_swp391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gio_swp391]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[size_name] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NULL,
	[gender] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[phoneNumber] [varchar](12) NULL,
	[fullName] [nvarchar](100) NULL,
	[google_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[rate_point] [int] NOT NULL,
	[customer_id] [int] NULL,
	[product_id] [int] NULL,
	[order_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import](
	[import_id] [int] IDENTITY(1,1) NOT NULL,
	[importDate] [date] NULL,
	[staff_id] [int] NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[import_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[importDetails]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importDetails](
	[import_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[import_id] [int] NULL,
	[product_id] [int] NULL,
	[size_name] [varchar](5) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK__importDe__6C144AB29687A352] PRIMARY KEY CLUSTERED 
(
	[import_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[size_name] [varchar](5) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC,
	[size_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[date] [date] NULL,
	[status] [varchar](10) NULL,
	[phone_number] [varchar](12) NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NULL,
	[total] [int] NULL,
	[voucher_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[pic_url] [varchar](255) NULL,
	[price] [int] NULL,
	[category_id] [int] NULL,
	[discount] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size_detail]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size_detail](
	[product_id] [int] NOT NULL,
	[size_name] [varchar](5) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[size_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[phoneNumber] [varchar](12) NULL,
	[fullName] [nvarchar](100) NULL,
	[role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 12/18/2025 4:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[voucher_id] [varchar](50) NOT NULL,
	[voucher_percent] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[max_discount_amount] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [quantity], [price], [customer_id], [product_id], [size_name]) VALUES (17, 2, 295000, 3, 2077, N'S')
INSERT [dbo].[cart] ([cart_id], [quantity], [price], [customer_id], [product_id], [size_name]) VALUES (18, 6, 660000, 3, 2076, N'M')
INSERT [dbo].[cart] ([cart_id], [quantity], [price], [customer_id], [product_id], [size_name]) VALUES (1015, 1, 72500, 3, 2060, N'S')
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [type], [gender]) VALUES (1, N'dress ', N'female')
INSERT [dbo].[category] ([category_id], [type], [gender]) VALUES (2, N't-shirt ', N'female')
INSERT [dbo].[category] ([category_id], [type], [gender]) VALUES (3, N'pant', N'female')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [username], [email], [password], [address], [phoneNumber], [fullName], [google_id]) VALUES (1, N'duyen123', N'duyen@example.co', N'123456', N'phu?c nguy?n', N'0987654322', N'Phu?c Nguy?n', NULL)
INSERT [dbo].[customer] ([customer_id], [username], [email], [password], [address], [phoneNumber], [fullName], [google_id]) VALUES (2, N'duyen12345', N'tranquangduyen23@gmail.com', N'4b8b3529cc99c99f90b1b0b78c6ae493', N'000qqqqqa', N'0125678544', N'Tran Quang Duye', N'')
INSERT [dbo].[customer] ([customer_id], [username], [email], [password], [address], [phoneNumber], [fullName], [google_id]) VALUES (3, N'duyen123456', N'tranquangduyen203@gmail.com', N'4b8b3529cc99c99f90b1b0b78c6ae493', N'Can Tho', N'0125678542', N'Tran Quang Duyen', N'')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([feedback_id], [content], [rate_point], [customer_id], [product_id], [order_id], [created_at]) VALUES (1, N's?n ph?m d?p, giao hàng nhanh', 5, 1002, 2068, 4002, CAST(N'2025-10-31T14:49:03.767' AS DateTime))
INSERT [dbo].[feedback] ([feedback_id], [content], [rate_point], [customer_id], [product_id], [order_id], [created_at]) VALUES (2, N'd?p', 5, 1002, 2071, 4003, CAST(N'2025-10-31T15:01:22.237' AS DateTime))
INSERT [dbo].[feedback] ([feedback_id], [content], [rate_point], [customer_id], [product_id], [order_id], [created_at]) VALUES (1002, N'cc', 5, 2, 2057, 5003, CAST(N'2025-11-10T14:46:26.547' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[import] ON 

INSERT [dbo].[import] ([import_id], [importDate], [staff_id], [status]) VALUES (1, CAST(N'2025-11-25' AS Date), 2, N'delivered')
INSERT [dbo].[import] ([import_id], [importDate], [staff_id], [status]) VALUES (2, CAST(N'2025-11-25' AS Date), 2, N'delivered')
INSERT [dbo].[import] ([import_id], [importDate], [staff_id], [status]) VALUES (1002, CAST(N'2025-11-25' AS Date), 2, N'delivered')
SET IDENTITY_INSERT [dbo].[import] OFF
GO
SET IDENTITY_INSERT [dbo].[importDetails] ON 

INSERT [dbo].[importDetails] ([import_detail_id], [import_id], [product_id], [size_name], [quantity]) VALUES (1, 1003, 2057, N'S', 1)
INSERT [dbo].[importDetails] ([import_detail_id], [import_id], [product_id], [size_name], [quantity]) VALUES (2, 1004, 2057, N'S', 1)
INSERT [dbo].[importDetails] ([import_detail_id], [import_id], [product_id], [size_name], [quantity]) VALUES (3, 1004, 2061, N'S', 1)
SET IDENTITY_INSERT [dbo].[importDetails] OFF
GO
INSERT [dbo].[order_detail] ([order_id], [product_id], [size_name], [quantity]) VALUES (3002, 2057, N'S', 1)
INSERT [dbo].[order_detail] ([order_id], [product_id], [size_name], [quantity]) VALUES (3003, 2061, N'S', 1)
INSERT [dbo].[order_detail] ([order_id], [product_id], [size_name], [quantity]) VALUES (4002, 2068, N'S', 2)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [address], [date], [status], [phone_number], [customer_id], [staff_id], [total], [voucher_id]) VALUES (3002, N'Ninh Ki?u, C?n Tho', CAST(N'2025-10-29' AS Date), N'Delivered', N'0125678544', 2, NULL, 107500, NULL)
INSERT [dbo].[orders] ([order_id], [address], [date], [status], [phone_number], [customer_id], [staff_id], [total], [voucher_id]) VALUES (3003, N'Ninh Ki?u, C?n Tho', CAST(N'2025-10-29' AS Date), N'Delivered', N'0124569801', 2, NULL, 107500, NULL)
INSERT [dbo].[orders] ([order_id], [address], [date], [status], [phone_number], [customer_id], [staff_id], [total], [voucher_id]) VALUES (4002, N'Ninh Ki?u, C?n Tho', CAST(N'2025-10-31' AS Date), N'Delivered', N'03981169911', 1002, NULL, 190000, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [name], [description], [pic_url], [price], [category_id], [discount], [is_active]) VALUES (2054, N'ALICE BLUE - LONG V NECK STITCHING BLUE', N'Elegant Alice Blue long dress featuring a flattering V-neckline and detailed blue stitching. A stylish and comfortable choice for any occasion.', N'/Project_SWP391_Group4/images/img-female-dress1.jpg', 50000, 1, NULL, 1)
INSERT [dbo].[product] ([product_id], [name], [description], [pic_url], [price], [category_id], [discount], [is_active]) VALUES (2055, N'ALICE BLUE - BUNNY BUNNY 2 STRAP DRESS', N'Cute Alice Blue dress featuring double straps and a playful bunny pattern.', N'/Project_SWP391_Group4/images/img-female-dress2.jpg', 220000, 1, NULL, 1)
INSERT [dbo].[product] ([product_id], [name], [description], [pic_url], [price], [category_id], [discount], [is_active]) VALUES (2056, N'ALICE BLUE - WAIST CUTOUT DRESS', N'Stylish Alice Blue dress with a trendy waist cutout design.', N'/Project_SWP391_Group4/images/img-female-dress3.jpg', 180000, 1, 50, 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[size_detail] ([product_id], [size_name], [quantity]) VALUES (2054, N'L', 10)
INSERT [dbo].[size_detail] ([product_id], [size_name], [quantity]) VALUES (2054, N'M', 90)
INSERT [dbo].[size_detail] ([product_id], [size_name], [quantity]) VALUES (2054, N'S', 68)
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [username], [email], [password], [address], [phoneNumber], [fullName], [role]) VALUES (1, N'admin', N'admin@shop.com', N'd009e236ec29b21b6916fd0302ce755d', N'CanTho', N'0900000000', N'System Admin', N'admin')
INSERT [dbo].[staff] ([staff_id], [username], [email], [password], [address], [phoneNumber], [fullName], [role]) VALUES (2, N'nhanvien1', N'nv1nv1nv1nv1nv1nv1v1nnv1n1nvnv1nv1v1@company.local', N'21232f297a57a5a743894a0e4a801fc3', N'p', N'0901111113', N'Phu', N'staff')
INSERT [dbo].[staff] ([staff_id], [username], [email], [password], [address], [phoneNumber], [fullName], [role]) VALUES (5, N'staff', N'phuoc@gmail.c', N'd009e236ec29b21b6916fd0302ce755d', N'a', N'0933778890', N'Phu?c Nguy?n', N'staff')
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
INSERT [dbo].[voucher] ([voucher_id], [voucher_percent], [start_date], [end_date], [max_discount_amount]) VALUES (N'78UJU', 90, CAST(N'2025-12-12' AS Date), CAST(N'2025-12-27' AS Date), 2000)
INSERT [dbo].[voucher] ([voucher_id], [voucher_percent], [start_date], [end_date], [max_discount_amount]) VALUES (N'A3WS', 7, CAST(N'2025-12-10' AS Date), CAST(N'2025-12-26' AS Date), 777)
INSERT [dbo].[voucher] ([voucher_id], [voucher_percent], [start_date], [end_date], [max_discount_amount]) VALUES (N'CHUCMUNGNAMMOI2026', 20, CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 20000)
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT ('staff') FOR [role]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [max_discount_amount]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([product_id], [size_name])
REFERENCES [dbo].[size_detail] ([product_id], [size_name])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK_feedback_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK_feedback_orders]
GO
ALTER TABLE [dbo].[import]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[importDetails]  WITH CHECK ADD  CONSTRAINT [FK_importDetails_import] FOREIGN KEY([import_id])
REFERENCES [dbo].[import] ([import_id])
GO
ALTER TABLE [dbo].[importDetails] CHECK CONSTRAINT [FK_importDetails_import]
GO
ALTER TABLE [dbo].[importDetails]  WITH CHECK ADD  CONSTRAINT [FK_importDetails_size_detail] FOREIGN KEY([product_id], [size_name])
REFERENCES [dbo].[size_detail] ([product_id], [size_name])
GO
ALTER TABLE [dbo].[importDetails] CHECK CONSTRAINT [FK_importDetails_size_detail]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([product_id], [size_name])
REFERENCES [dbo].[size_detail] ([product_id], [size_name])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[size_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
USE [master]
GO
